# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Build
build/
dist/
